@layout PublicLayout
@inherits MailFarmsBlazor.Code.PageComponent
@inject NavigationManager navigationManager
@page "/password"
@code
{
    TextBox __TextBox_Password;
    TextBox __TextBox_Password2;

    public void KeyWasPressed(KeyboardEventArgs ev)
    {
        if (ev.Key == "Enter")
        {
            ImpostaPasswordClick();
        }
    }

    public void ImpostaPasswordClick()
    {
        Id = GetQueryLong("UtentiId");

        var utente = Business.Entity.Utenti.GetItem(Id);

        if (utente == null)
        {
            navigationManager.NavigateTo("/private");
            return;
        }

        if (__TextBox_Password.Value != __TextBox_Password2.Value)
        {
            AlertFail("Le password indicate sono divere");
            return;
        }

        utente.Password = __TextBox_Password.Value;

        if (!utente.Save(out Avviso))
        {
            AlertFail(Avviso);
            return;
        }

        AlertSuccess("Password modificata con successo");

        navigationManager.NavigateTo("/private");
    }
}

<div class="lock-wrapper">
    <div class="panel lock-box">
        <h4>MailFarms</h4>
        <p class="text-center">Modifica la password di accesso</p>
        <div class="row">
            <div class="form-inline">
                <div class="form-group col-md-12 col-sm-12 col-xs-12">
                    <div class="text-left">
                        <label for="signupInputPassword" class="text-muted">Nuova Password</label>
                        <TextBox @ref="__TextBox_Password" Type="TextBox.TextBoxTypeEnum.Password" placeholder="Password" class="form-control lock-input" @onkeypress="KeyWasPressed" />
                    </div>
                    <div class="text-left">
                        <label for="signupInputPassword" class="text-muted">Ripeti</label>
                        <TextBox @ref="__TextBox_Password2" Type="TextBox.TextBoxTypeEnum.Password" placeholder="Password" class="form-control lock-input" @onkeypress="KeyWasPressed" />
                    </div>

                    <MyButton ButtonType="BlazorLibrary.Component.MyButton.ButtonTypeEnum.Button" Text="Imposta Password" OnClickCallback="ImpostaPasswordClick" Class="btn btn-block btn-primary" />

                </div>
            </div>
        </div>
    </div>
    <div class="registration"><a href="/login"> <span class="text-primary"> Effettua l'accesso </span> </a> </div>
</div>